<!DOCTYPE html>
<html>
  <head>
    <title>DevCheatBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <a class="text-white font-weight-bold navbar-brand fs-2" href="#">Web Dev Cheat Book</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
